.placeholder-row
{
  width: 100%;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
}

.placeholder-text
{
  color: #cccccc;
  font-style: italic;
}